body {
  /* background-color: hsl(207, 13%, 34%); */
}

#intro {
  background-color: hsl(356, 100%, 66%);
  height: 80vh;
  display: flex;
  justify-content: center;
  align-content: center;
  color: hsl(0, 0%, 100%);
}

nav {
  background-color: hsl(356, 100%, 66%);
}

.nav-link {
  color: hsl(0, 0%, 100%);
}

.btn-nav {
  color: hsl(356, 100%, 66%);
  background-color: hsl(0, 0%, 100%);
  width: 96px;
  height: 32px;
}

/* Intro buttons style */
.btn-start {
  color: hsl(355, 100%, 74%);
  background-color: hsl(0, 0%, 100%);
}

.btn-start:hover,
.btn-nav:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(355, 100%, 74%);
  border: none;
}

.btn-learn {
  background-color: hsl(356, 100%, 66%);
  color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 100%);
}

.btn-learn:hover {
  color: hsl(355, 100%, 74%);
  background-color: hsl(0, 0%, 100%);
}
.btn {
  border-radius: 16px;
}

/* Company */
/* .bg-company {
  background-image: url("/images/illustration-editor-desktop.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
  background-size: auto;
  background-origin: content-box;
  min-height: auto;
} */

.bg-intro {
  background-image: url("/images/bg-pattern-intro-desktop.svg");
  background-repeat: no-repeat;
  /*background-attachment: fixed; */
  /* background-position: right; */
  /* background-size: auto;
  background-origin: content-box; */
  max-height: auto;
  width: 100%;
}

.company-bg {
  background-image: url("/images/bg-pattern-circles.svg"),
    linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  background-repeat: no-repeat;
  border-top-right-radius: 200px;
  height: 100%;
  border-bottom-left-radius: 200px;
}

.company-text,
.company--header {
  color: hsl(0, 0%, 100%);
}

h1,
h2,
h3 {
  color: hsl(208, 49%, 24%);
}

.extra--p {
  padding-right: 128px;
}

.footer-bg {
  background-color: hsl(240, 10%, 16%);
  border-top-right-radius: 200px;
}

.header--footer {
  color: hsl(0, 0%, 100%);
}
